@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 244, 244;
  --main-font-color: 26, 26, 26;
}

body {
  color: rgb(var(--main-font-color));
  background-color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker-wrapper {
  width: 100%;

  input {
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
  }

  .react-datepicker__view-calendar-icon input {
    padding: 0.75rem 0.625rem 0.75rem 2.25rem;
  }

  .react-datepicker__input-container .react-datepicker__calendar-icon {
    padding-left: 0.75rem;
    padding-top: 1rem;
  }
}
